body {
    background: #e75;
}

h1 { 
    color: black;
    text-align: center;
}

h3 {
    color: red;
}

p { 
    color: brown;
}
#headerWrapper{
    display: flex;
   
}
#headerLogo {
    width: 300px;
    float: right;
    border: 1px solid black;
    padding: 50px;
}
nav {
    display: flex;
    justify-content: center;
}
nav > .nav-item {
    margin: 10px;
}
