:root {
    --primary: rgba(0,88,145,1);
    --secondary: rgba(31,31,31,1);
}

html {
    min-height: 100%;
}

body {
    margin: 0 8em 0 8em;
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(0,88,145);
    background: linear-gradient(0deg, var(--primary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

label {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

form > h3 {
    text-decoration: underline;
}

form > input[type="text"],
form > input[type="url"],
form > input[type="email"],
form > input[type="submit"],
textarea,
select
{
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 6px;
    border: 1px solid grey;
}

form > input[type="submit"] {
    color: white;
    background-color: var(--primary);
    border: none;
    font-weight: bold;
}

input[type="submit"]:hover {
    cursor: pointer;
}

form > sub {
    text-align: center;
}

form > sub > a {
    color: red;
}

input[type="submit"] {
    margin-top: 2em;
}

.centered {
    margin: auto !important;
}

.card {
    padding: 2em;
    background-color: white;
    margin-bottom: 3rem !important;
}

.col-70 {
    width: 68%;
}

.col-30 {
    width: 30%;
}

img {
    width: 100%;
}

.rounded {
    border-radius: 12px;
}

#header {
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#header > h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    width: 5em;
}

#header > nav {
    display: flex;
    justify-content: center;
}

nav > a:link, nav > a:visited {
    color: rgb(255, 255, 255);
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 20px; 
    transition: 0.3s;
    -webkit-animation: 0.3s;
    -moz-animation: 0.3s;
    -o-animation: 0.3s;
}

nav > a:hover {
    color: rgb(108, 77, 245);
    font-size: 1.3em;

}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -1em;
    font-family: 'PT Sans', sans-serif;
}

#content > * {
    margin: 1em;
}

#resume > h1 {
    font-size: 3em;
    text-align: center;
}

#resume > h2 {
    margin-top: 1.5em;
}

#sidebar > ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#sidebar > ul > li {
    margin-bottom: 0.5em;
}

.bold {
    font-weight: 900 !important;
}