body {
    background: #e75;
}

h1 { 
    color: black;
    text-align: center;
}

h3 {
    color: red;
}

p { 
    color: brown;
}
#pictureLandon {
    width: 200px;
    
}
nav {
    display: flex;
    justify-content: center;
}
nav > .nav-item {
    margin: 10px;
}